.content_title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.advert {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 46px 0px 0px -10px;
}
.offer {
  display: flex;
  flex-flow: row;
}
.first {
  display: flex;
  flex-direction: column nowrap;
  width: 200px;
  height: 300px;
  background-color: brown;
}
#main1 {
  left: -122px;
  background: white;
}
#main1 .first_part {
  color: black;
}
#main2 {
  z-index: 1;
}
#main3 {
  left: 146px;
}
